.events-bar-main {
    background-color: lightgrey;
}

.events-bar-main .events-bar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.events-bar-main .events-bar-list .event-item {
    flex: 1 1 auto;
    max-width: calc(100% / var(--event-count));
    box-sizing: border-box;
    padding: 26px 10px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: lightgrey;
    border-right: 1px solid grey;
}

@media (max-width: 768px) {
    .events-bar-main .events-bar-list .event-item {
        max-width: 100%;
        padding: 10px 10px;
    }
}

.events-bar-main .events-bar-list .event-item-title {
    padding-right: 0px;
    padding-bottom: 0px;
    line-height: 1.2rem;
}

.event-item.hoverable {
    cursor: pointer;
}

/* .events-bar-main .events-bar-list .event-item:last-child {
    border-right: 1px solid grey;
} */

.events-bar-main .events-bar-list .event-item.hoverable:hover {
    background-color: rgb(225, 225, 225);
    color: #620202;
}

.events-bar-main .events-bar-list .event-item p.event-item-date {
    margin: 0px;
    font-size: 1.1rem;
}

.events-bar-main .events-bar-list .event-item p.event-item-title {
    margin: 0px;
}

.events-bar-main .events-bar-list .event-item p.event-title-bigger {
    margin: 0px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
}

.events-bar-main .events-bar-list .event-item p.event-item-hour {
    margin: 0px;
    margin-top: -2px;
    padding: 0px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    /* .events-bar-main .events-bar-list {
        flex-direction: column;
    } */
    .events-bar-main .events-bar-list .event-item {
        flex-basis: 100%;
    }
}

#footer-widget-area {
    margin-bottom: 20px;
}

#footer-widget-area > div.hr {
    padding: 0px 10px;
}

#footer-widget-area > div.footer-items-wrapper div.widget {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    #footer-widget-area > div.footer-items-wrapper div.widget {
        margin-bottom: 0px;
    }
}

/* CALENDAR */

.link-to-calendar {
    background: #9B1733;
    color: white;
    padding: 4px 8px;
    margin-top: 14px;
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
}

.link-to-calendar > a {
    background: inherit!important;
    color: inherit!important;
}

.link-to-calendar:hover, .link-to-calendar:focus {
    background: #642231!important;
    color: white!important;
}

#limbiate-calendar-container {
    margin-bottom: 100px;
}

.fc-toolbar-title {
    text-transform: uppercase;
}

a.fc-col-header-cell-cushion, a.fc-daygrid-day-number  {
    color: black;
}

.fc-h-event .fc-event-main-frame {
    display: block;
}

.fc-h-event .limbiate-cal-date,
.fc-h-event .limbiate-cal-title
 {
    text-align:center;
}

.fc-h-event .limbiate-cal-title {
    margin-top: 0px;
    font-weight: bold;
}

/* END CALENDAR */
